@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-green: #B9FF66;
  --color-brand-dark: #191A23;
  --color-brand-gray: #F3F3F3;

  --font-sans: "Space Grotesk", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.team-mask {
  -webkit-mask-image: url('./mask-shape.svg');
  mask-image: url('./mask-shape.svg');

  mask-size: contain;
  -webkit-mask-size: contain;

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-position: center;
  -webkit-mask-position: center;
}
